#logo span {
    font-family: 'Bree Serif', serif;
}

/* 在想要有樣式的 a 加上 class 的作法，可以很好的和 tailwind 一起運作 */
a.my-link {
    color: #D64078
}

a:hover.my-link {
    text-decoration: underline;
}

a:active.my-link {
    color: white;
    background-color: black;
}

.my-bg-color {
    background-color: #D64078
}

/* 原網站全域直接定義 a 的偽類(:hover, :active etc.)，但定義偽類後，tailwind 制定樣式的 class 數量就會大增
思考影響較小的方式，用 class 定義容器內的子元素樣式，來避免全域的污染 */
.my-links a {
    color: #D64078
}

.my-links a:hover {
    text-decoration: underline;
}

.my-links a:active {
    color: white;
    background-color: black;
}

.my-links a {
    color: #D64078
}

.my-links a:hover {
    text-decoration: underline;
}

.my-links a:active {
    color: white;
    background-color: black;
}