/* style.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

#logo span {
    font-family: 'Bree Serif', serif;
}

/* 在想要有樣式的 a 加上 class 的作法，可以很好的和 tailwind 一起運作 */
/* 用 we- 和 tailwind 的系列作區別，另外 q k 也還未被使用 */
a.we-link {
    color: #D64078
}

a:hover.we-link {
    @apply underline;
}

a:active.we-link {
    @apply text-white bg-black;
}

.we-bg-color {
    background-color: #D64078;
}

/* 原網站全域直接定義 a 的偽類(:hover, :active etc.)，但定義偽類後，tailwind 制定樣式的 class 數量就會大增
思考影響較小的方式，用 class 定義容器內的子元素樣式，來避免全域的污染 */
.we-links a {
    color: #D64078
}

.we-links a:hover {
    @apply underline;
}

.we-links a:active {
    @apply text-white bg-black;
}

.we-links a {
    color: #D64078
}

.we-links a:hover {
    @apply underline;
}

.we-links a:active {
    @apply text-white bg-black;
}

.we-nav-btn {
    @apply text-white we-bg-color border-red-700;
    @apply py-1 w-40 rounded border-b-4 border-solid inline-block;
}